In [8]:
import pyarrow.parquet as pq
import duckdb

In [4]:
pq.read_metadata("data/intermediate/sph_2000_county.parquet")

<pyarrow._parquet.FileMetaData object at 0x12f185990>
  created_by: parquet-cpp-arrow version 14.0.2
  num_columns: 3
  num_rows: 1183644
  num_row_groups: 2
  format_version: 2.6
  serialized_size: 2547

In [6]:
# Open the parquet file
parquet_file = pq.ParquetFile('data/intermediate/sph_2000_county.parquet')

# Read the first 10 rows (you can adjust this as needed)
num_rows = 10
table = parquet_file.read_row_group(0).slice(0, num_rows)

# Convert to pandas DataFrame if needed
df = table.to_pandas()

# Display the data
print(df.head(num_rows))

              day       sph
county
01001  2000-01-01  0.008447
01009  2000-01-01  0.007666
01023  2000-01-01  0.007780
01033  2000-01-01  0.007690
01049  2000-01-01  0.007920
01089  2000-01-01  0.007715
01109  2000-01-01  0.008698
01133  2000-01-01  0.007672
02016  2000-01-01       NaN
02090  2000-01-01       NaN

In [10]:
conn = duckdb.connect()
conn.execute("CREATE TABLE gridmet AS SELECT county, day, sph FROM 'data/intermediate/sph_2000_county.parquet'")
conn.execute("SELECT * FROM gridmet LIMIT 10").fetchdf()

  county        day       sph
0  01001 2000-01-01  0.008447
1  01009 2000-01-01  0.007666
2  01023 2000-01-01  0.007780
3  01033 2000-01-01  0.007690
4  01049 2000-01-01  0.007920
5  01089 2000-01-01  0.007715
6  01109 2000-01-01  0.008698
7  01133 2000-01-01  0.007672
8  02016 2000-01-01       NaN
9  02090 2000-01-01       NaN

In [14]:
conn.execute("""
    SELECT 
        COUNT(DISTINCT county) AS n, 
    FROM 
        'data/intermediate/sph_2000_county.parquet' 
    WHERE
        sph is NULL
""").fetchdf()

     n
0  125